
<p>
  <strong>Poster:</strong>
  <%= @comment.poster %>
</p>

<p>
  <strong>Comment ID:</strong>
  <%= @comment.id %>
</p>

<p>
  <strong>Belongs to Review ID:</strong>
  <%= @comment.review_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @comment.date %>
</p>

<p>
  <strong>Article:</strong>
  <%= @comment.comment %>
</p>
<% comment_id = @comment.id %>

<% if controller.belongsToCurrentUser("#{@comment.poster}") || controller.getAccessRank <= 1  %>
  <%= link_to 'Edit', edit_comment_path(@comment), :commentid => "#{comment_id}"  %>|
  <%= link_to 'Delete', @comment, method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>

<br />
<%= link_to 'To Review Containing Comment', review_path(@comment.review_id) %>