
<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @news.date %>
</p>

<p>
  <strong>Article:</strong>
  <%= @news.article %>
</p>
<% if controller.allowAccessIfUserRankAtLeast(1)  %>
  <%= link_to 'Edit', edit_news_path(@news) %>|
<% end %>
<%= link_to 'Back', news_index_path %>





