<!DOCTYPE html>
<html>
<head>
  <title>Ed's Restaurant Reviews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>

<body>
    <div>
    	<a href = "/reviews" id = "headerBannerLink"> <h1 id="headerBanner">Ed's Restaurant Reviews</h1> </a>

    <h4 id="slogan">In Search of Delicious Food</h4>
    <br />

    </div>
    <div id="content">
    	<div id="navigation">
	    	<h2>Welcome</h2>
	    	<br />
	    	<strong><%= link_to 'Home', '/reviews' %><br /><br /></strong>
			
	    	<% user = controller.getUser %>
	    	<%if user != nil%>
	    		<strong><%= link_to 'Logout', { :action => :logout} %><br /></strong>
	    		<strong> Hello, <%= user %><br /> </strong>	
	    		<strong><%= link_to 'User Profile', userprofile_users_path , { :action => :userprofile} %> </strong>
	    	<%elsif user === nil%>
	    		<strong><%= link_to 'Login to post', login_users_path %><br /></strong>
	    	<%else%>
	    	<%end%>

	    	
	    	

	    	<p style="color: orange"><%= flash[:notice] %></p>
	    	<strong><%= link_to 'Register for free login', register_users_path %><br /></strong>
	    	<strong><%= link_to 'Post a new review', new_review_path %><br /></strong>
	    	<br />
	    	<div id='search_icon'> Search?</div>
	    	<div id='search_bar_area'>
	    		<%= form_tag search_reviews_path , :method => 'get' do %>
		    	<label><font color="tan" size="-1">Search for review:</font> </label>
		    	<%= text_field_tag :searchFor, params[:searchFor], :class =>"search_bar" %>
		    	<%= submit_tag "Find", :class => "search_bar", :id => "find_button" %>
		    	<% end %> 
	    	</div>


		</div>
		<div id="main">
			<p style="color: orange"><%= flash[:notice] %></p>
			<%= yield %><!--the 'yield' will yield to the code located in the index.html.erb file 
			within the current directory for the site.  Thus, if this is for the reviews/index, then yield will
			yield to the code located within reviews/index.html.erb.  If it is accessed by
			restaurant/index, then it will yield to the code located in the restaurant/index.html.erb code.-->
		</div>
		<div id="news">
			<div id="news_minimize">
				Minimize
			</div>
			<div id="news_pull_tab">
				news pull tab
			</div>
			<div id="news_content">
			<h2>What's cookin'</h2><br />
	    	The latest restaurant news<br />
	    	<%= render( :partial => "reviews/news") %>
			</div>
		</div>
	</div>
	<div id="footer">
		<% if @reviews != nil %>
			<%= will_paginate @reviews, :previous_label => '&#8592; Prev 5', :next_label => 'Next 5 &#8594;' %>
		<% end %>
 		<a href="mailto:myuser@myhost.com"><font size="1">Contact Us</font></a>
 		<font size="1"> | &copy;2013 Edmund Wong </font>
	</div>

	<% tempVar = "/assets/banner.jpg" %>
	<% tempVarText = "NoImageFound" %>
<%= image_tag "#{tempVar}", alt: "#{tempVarText}" %>

	
</body>
</html>

